.container {
    width: 90%;
    margin: 50px auto;
}
.logo {
    color: blue;
    font-weight: bold;
    font-size: 40px;
}
.form {
    width: 60%;
    margin: 50px auto;
}
h2 {
    text-align: center;
    padding-bottom: 70px;
    font-size: 40px;
    font-weight: bold;
}
.input__file {
    display: none;
}
.image__preview {
    width: 60%;
    height: 240px;
    border: 1px dashed black;
    border-radius: 7px;
    overflow: hidden;
}
.image__preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}
label {
    margin-left: 100px;
    border: 2px solid blue;
    color: blue;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.item {
    padding-bottom: 30px;
}
.item__name {
    font-size: 30px;
}
.item__name--input,
select {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
textarea {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: 200px;
    resize: none;
}
.btn {
    text-align: right;
}
.btn button {
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}
.error {
    color: red;
}

@media(max-width: 768px) {
    .image {
        display: flex;
        flex-direction: column;
    }
    .btn {
        text-align: center;
    }
    .btn button {
        width: 100%;
    }
    .image__preview {
        width: 100%;
        margin-bottom: 30px;
    }
    label {
        margin: 0;
    }
}